<!DOCTYPE html>
<html>
<head>
    <title>Attendance System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Attendance Portal</h1>
    <p class="quote">"Success starts with discipline."</p>

    <input id="emp_id" placeholder="Enter Employee ID">

    <button class="load-btn" onclick="loadEmployee()">Load Employee</button>

    <input id="name" placeholder="Employee Name" readonly>
    <input id="phone" placeholder="Phone Number" readonly>
    <input id="otp" placeholder="Enter OTP">

    <div class="buttons">
        <button class="in-btn" onclick="markAttendance('IN')">Punch IN</button>
        <button class="out-btn" onclick="markAttendance('OUT')">Punch OUT</button>
    </div>

    <div id="result"></div>

    <p class="footer">Created by Ajith</p>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
